      # - name: 推送到微信公众号
      #   run: |
      #     curl -s "https://www.pushplus.plus/send" \
      #       -d "token=${{ secrets.PUSHPLUS_TOKEN }}" \
      #       -d "title=Cloudflare优选IP更新成功" \
      #       -d "content=最新IP：${{ env.FAST_IP }}"
